.table{
    width: 100%;
    margin-top: 2rem;
   border-collapse: collapse;

}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td{
    color: grey;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child{
    text-align: left;
}

.table tbody tr:nth-child(odd){
    background-color: #222;
}

